{% extends 'base.html' %} 
{% block title %}
{{ article.title }}
{% endblock %} 
{% block content %}
<article>
  <header>
    <h1>{{ article.title }}</h1>
    <time datetime="{{ article.created_at|date:'c' }}">
      {{ article.created_at|date:"d.m.Y H:i" }}
    </time>
  </header>

  {% if article.image %}
  <figure>
    <img 
      src="{{ article.image.url }}" 
      alt="{{ article.title }}" 
      style="max-width: 100%; height: auto;"
    />
  </figure>
  {% endif %}

  <section>
    {{ article.content|linebreaks }}
  </section>
</article>
{% endblock %}
