{% extends 'base.html' %}
{% block title %}Новости компании{% endblock %}
{% block content %}
<header>
  <h1>Новости компании</h1>
</header>

<section>
  {% if articles %}
  <section>
    {% for article in articles %}
    <article>
      {% if article.image %}
      <figure>
        <img 
          src="{{ article.image.url }}" 
          alt="{{ article.title }}" 
          style="max-width: 100%; height: auto;"
        />
      </figure>
      {% endif %}
      
      <header>
        <h2>{{ article.title }}</h2>
        <time datetime="{{ article.created_at|date:'c' }}">
          {{ article.created_at|date:"d.m.Y H:i" }}
        </time>
      </header>
      
      <section>
        <p>{{ article.get_short_content }}</p>
      </section>
      
      <nav>
        <a href="{% url 'content:article_detail' article.id %}">Читать далее</a>
      </nav>
    </article>
    {% endfor %}
  </section>
  {% else %}
  <section>
    <p>Новостей пока нет.</p>
  </section>
  {% endif %}
</section>
{% endblock %}
