{% extends 'base.html' %} {% block content %}
<header>
  <h1>Регистрация</h1>
</header>

<section>
  <form method="post">
    {% csrf_token %}
    <fieldset>
      <legend>Данные для регистрации</legend>
      {% for field in form %}
      <div>
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field }}
        {% if field.errors %}
        <div role="alert" aria-live="polite">
          {% for error in field.errors %}
          <div>{{ error }}</div>
          {% endfor %}
        </div>
        {% endif %}
      </div>
      {% endfor %}
    </fieldset>
    
    <div>
      <button type="submit" accesskey="Enter">Зарегистрироваться</button>
    </div>
  </form>
</section>

<aside>
  <p>Уже есть аккаунт? <a href="{% url 'login' %}">Войти</a></p>
</aside>
{% endblock %}
