{% extends 'base.html' %} 
{% block content %}
<header>
  <h1>{{ action }} объект недвижимости</h1>
</header>

<section>
  <form method="post">
    {% csrf_token %} 
    
    <fieldset>
      <legend>Информация об объекте недвижимости</legend>
      
      {% for field in form %}
      <div>
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field }} 
        {% if field.errors %}
        <div role="alert">
          {% for error in field.errors %}
          <p>{{ error }}</p>
          {% endfor %}
        </div>
        {% endif %} 
        {% if field.help_text %}
        <small>{{ field.help_text }}</small>
        {% endif %}
      </div>
      {% endfor %}
    </fieldset>

    <nav>
      <button type="submit">{{ action }}</button>
      <a href="{% url 'agent_property_list' %}">Отмена</a>
    </nav>
  </form>
</section>
{% endblock %}
