{% extends 'base.html' %} 
{% block content %}
<header>
  <h1>Категории объектов недвижимости</h1>
</header>

<section>
  {% for category in categories %}
  <article>
    <header>
      <h2>{{ category.name }}</h2>
    </header>
    
    {% if category.description %}
    <section>
      <p>{{ category.description }}</p>
    </section>
    {% endif %}
    
    <section>
      <p>
        <small>
          {{ category.property_count }} объектов недвижимости с такой категорией
        </small>
      </p>
    </section>
    
    <nav>
      <a href="{% url 'index' %}?category={{ category.id }}">
        Посмотреть объекты
      </a>
    </nav>
  </article>
  {% empty %}
  <section>
    <p>Не найдено категорий.</p>
  </section>
  {% endfor %}
</section>
{% endblock %}
