{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/category_list.css' %}">
{% endblock %}

{% block content %}
<div class="category-list-container">
  <header class="category-list-header">
    <h1>Категории объектов недвижимости</h1>
  </header>

  <section class="category-list-section">
    {% for category in categories %}
    <article class="category-card">
      <header>
        <h2>{{ category.name }}</h2>
      </header>
      
      {% if category.description %}
      <section>
        <p>{{ category.description }}</p>
      </section>
      {% endif %}
      
      <section>
        <p>
          <small>
            {{ category.property_count }} объектов недвижимости с такой категорией
          </small>
        </p>
      </section>
      
      <nav>
        <a href="{% url 'index' %}?category={{ category.id }}">
          Посмотреть объекты
        </a>
      </nav>
    </article>
    {% empty %}
    <div class="category-empty">
      <p>Не найдено категорий.</p>
    </div>
    {% endfor %}
  </section>
</div>
{% endblock %}
