{% extends 'base.html' %} {% block content %}
<header>
  <h1>Мои покупки</h1>
</header>

<section>
  {% if purchases %}
  <section>
    {% for purchase in purchases %}
    <article>
      <header>
        <h2>{{ purchase.property.title }}</h2>
        <span> {{ purchase.get_status_display }} </span>
      </header>

      <section>
        <dl>
          <dt>Цена:</dt>
          <dd>
            {% if purchase.promo %}
            <p><s>{{ purchase.property.price }} BYN</s></p>
            <p>
              {{ purchase.get_final_price|floatformat:0 }} BYN
              <small>(-{{ purchase.promo.discount_percentage }}%)</small>
            </p>
            {% else %} {{ purchase.property.price }} BYN {% endif %}
          </dd>

          <dt>Дата покупки:</dt>
          <dd>
            <time datetime="{{ purchase.sale_date|date:'c' }}">
              {{ purchase.sale_date|date:"d.m.Y H:i" }}
            </time>
          </dd>

          <dt>Дата договора:</dt>
          <dd>
            <time datetime="{{ purchase.contract_date|date:'c' }}">
              {{ purchase.contract_date|date:"d.m.Y H:i" }}
            </time>
          </dd>

          <dt>Агент:</dt>
          <dd>{{ purchase.agent.user.username }}</dd>

          {% if purchase.promo %}
          <dt>Примененный промокод:</dt>
          <dd>{{ purchase.promo.promo_code }}</dd>
          {% endif %}
        </dl>
      </section>

      <nav>
        <a href="{% url 'property_detail' purchase.property.id %}">
          Подробнее об объекте
        </a>
      </nav>
    </article>
    {% endfor %}
  </section>
  {% else %}
  <section>
    <p>У вас пока нет покупок.</p>
  </section>
  {% endif %}
</section>
{% endblock %}
